<h1>Кто хочет стать миллионером!?</h1>

<div *ngIf="!!questionsList">
    <h3>
        {{questionsList[questionIndex].text}}
    </h3>
    <mf-answercard
        *ngFor="let answer of questionsList[questionIndex].answersList; let i=index;"
        [answer]="answer"
        [answerStatus]="statuses[i]"
        (clickAnswerEmitter)="clickAnswerHandler($event)"
    >
        {{answer.text}}
    </mf-answercard>

    <div *ngIf="isGameFinished(); else continueGame">
        <p>
            Игра завершена! Ваш счет составил: {{gameScoreHandler}}
        </p>
        <button
            class="button_control"
            (click)="restart()"
        >
            Начать игру заново
        </button>
    </div>
    <ng-template #continueGame>
        <p>Текущий счет: {{gameScoreHandler}}</p>
        <button
            class="button_control"
            *ngIf="isCurrentQuestionAnswered()"
            (click)="nextQuestionHandler()"
        >
            Следующий вопрос
        </button>
    </ng-template>
</div>
