<h1>Кто хочет стать миллионером!?</h1>

<mf-questioncard
    [q]="(questions$ | async)![qn]"
    (clickEmitter)="answerQuestionHandler($event)"
></mf-questioncard>

<p *ngIf="gamestatus != 'finished'; else result">Текущий счет: {{score}}</p>
<ng-template #result>
    <p>
        Игра завершена! Ваш счет составил: {{score}}
    </p>
    <button
        class="button_control"
        (click)="restart()"
    >
        Начать игру заново
    </button>
</ng-template>
<button
    class="button_control"
    *ngIf="gamestatus == 'next'"
    (click)="nextQuestionHandler()"
>
    Следующий вопрос
</button>
